{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login/SignUp</title>

    <link rel="stylesheet" href="{% static 'site/font/stylesheet.css' %}" />
    <link rel="stylesheet" href="{% static 'site/css/auth.css' %}" />
    <link rel="stylesheet" href="{% static 'site/css/loader.css' %}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="overlayLoader" style="display: none">
      <div class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div id="forgotPasswordModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal_title">
          <p>Forgot Password</p>
          <span
            id="forgotPasswordModalClose"
            class="close"
            onclick="$('#forgotPasswordModal').hide();"
            ><img src="{% static 'site/img/delete_circle.png' %}"
          /></span>
        </div>
        <div>
          <form id="forgotPasswordForm" method="POST">
            {% csrf_token %}
            <div class="container">
              <label for="recoveryEmailInp" class="email_label"
                ><b>Email</b></label
              >
              <input
                id="recoveryEmailInp"
                type="email"
                class="emmail_label"
                placeholder="Email"
                name="recoveryEmail"
                autocomplete="off"
                required
              />

              <div class="status_message"></div>

              <div class="button_grid">
                <button
                  id="cancelForgotPasswordBtn"
                  type="button"
                  onclick="$('#forgotPasswordModal').hide();"
                >
                  Cancel</button
                ><button
                  id="sendRecoveryEmailBtn"
                  class="modal_button"
                  type="submit"
                >
                  Send
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="login_signup">
      <div>
        <img
          class="login_img"
          src="{% static 'site/img/irantop5v42.png' %}"
          alt="login_img"
        />
      </div>
      <div class="form_container">
        <h3 class="form_header">Log in</h3>
        <form id="credentialsForm" class="input_form">
          {% csrf_token %}
          <div id="usernameField">
            <img
              class="input_icon"
              src="{% static 'site/img/login_user_icon.png' %}"
              alt="username"
            />
            <input
              type="text"
              name="username"
              class="input_field"
              id="username"
              placeholder="Username"
            />

            <input
              type="hidden"
              name="redirect_to"
              value="{{ redirect_to }}"
            />
          </div>
          <div>
            <img
              class="input_icon mail_icon"
              src="{% static 'site/img/login_email_icon.png' %}"
              alt="email"
            />
            <input
              type="email"
              name="email"
              class="input_field"
              placeholder="Email"
              id="email"
              required
            />
          </div>
          <div>
            <img
              class="input_icon lock_icon"
              src="{% static 'site/img/login_lock_icon.png' %}"
              alt="password"
            />
            <input
              type="password"
              name="password"
              class="input_field"
              placeholder="Password"
              id="password"
              required
            />
          </div>
          <div id="confirmPasswordField">
            <img
              class="input_icon lock_icon"
              src="{% static 'site/img/login_lock_icon.png' %}"
              alt="password"
            />
            <input
              type="password"
              name="confirmPassword"
              class="input_field"
              placeholder="Confirm Password"
              id="confirmPassword"
              required
            />
          </div>

          {% comment %}
          <div id="genderField">
            <img
              class="input_icon lock_icon"
              src="{% static 'site/img/login_lock_icon.png' %}"
              alt="password"
            />
            <select
              id="genderSelect"
              name="gender"
              class="input_field"
              style="margin-right: 2%"
            >
              <option value="">--Please choose a gender--</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
              <option value="NTS">Prefer not to say</option>
            </select>
          </div>

          <div id="descriptionField">
            <img
              class="input_icon lock_icon"
              src="{% static 'site/img/login_lock_icon.png' %}"
              alt="description"
            />
            <input
              type="text"
              name="description"
              class="input_field"
              placeholder="Description"
              id="description"
              required
            />
          </div>
          {% endcomment %}

          {% if categories|length > 0 %}
            <div id="topicToLikeContainer">
              <h3 class="form_inner_heading">Choose Some Topics You Like</h3>
              <div class="topics_to_like">
                {% for category in categories %}
                <div
                  name="category_{{ category.id }}"
                  onclick="onCategorySelected(this)"
                >
                  <span class="tick">
                    <img src="{% static 'site/img/tick.png' %}" alt="tick" />
                  </span>
                  <div>
                    <img
                      src="{{ category.imgURL }}"
                      alt="music_icon"
                      onload="setCategoryIconBackground('{{ category.id }}', '{{ category.color }}')"
                    />
                  </div>
                  <div>{{ category.name }}</div>
                </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          <button class="form_submit">Log in</button>
          <p
            class="forgot_pass"
            onclick="$('#forgotPasswordModal').css('display', 'flex');"
          >
            Forgot your password?
          </p>
        </form>
        {% comment %}
        <div id="registerOptions" class="signin_opt">
          <p>Sign in using</p>
          <div>
            <a href="/" class="external_login_link">
              <img src="{% static 'site/img/gmail_icon.png' %}" alt="gmail" />
            </a>
            <a href="/" class="external_login_link">
              <img src="{% static 'site/img/facebook_icon.png' %}" alt="facebook" />
            </a>
            <a href="/" class="external_login_link">
              <img src="{% static 'site/img/twitter_icon.png' %}" alt="twitter" />
            </a>
          </div>
        </div>
        {% endcomment %}
        <div class="ask_text">
          <div>
            <p>Don't have an account?</p>
            <span onclick="switchLoginSignup()">Sign up now!</span>
          </div>
        </div>
      </div>
    </div>
    <script>
      let login = false;
      const categories = {{ categories | safe }};
      let categoriesMap = {};
      let selectedCategories = {};
      categories.forEach(category => {
        categoriesMap[category.id] = category;
      });

      switchLoginSignup();

      function switchLoginSignup(){
          login=!login
          if(login){
              $("#credentialsForm")[0].reset();
              $(".form_header").text('Log in');
              $("#usernameField, #confirmPasswordField").hide();
              $("#topicToLikeContainer").hide();
              $("#username, #confirmPassword, #description").prop("required", false);
              // $("#registerOptions").hide();
              $(".forgot_pass").show();
              $(".form_submit").text("Log in");
              $("div.ask_text p").text("Don't have an account?");
              $("div.ask_text span").text("Sign Up Now");
          } else{
              $("#credentialsForm")[0].reset();
              $(".form_header").text("Sign up");
              $("#usernameField, #confirmPasswordField").show();
              $("#topicToLikeContainer").show();
              $("#username, #confirmPassword, #description").prop("required", true);
              // $("#registerOptions").hide();
              $(".form_submit").text("Sign up");
              $(".forgot_pass").hide();
              $("div.ask_text p").text("Already have an account?");
              $("div.ask_text span").text("Log in");
          }
      }

      $("#credentialsForm").on("submit", (e) => {
        e.preventDefault();

        if(login || (!login && $("#confirmPassword").text() == $("#password").text())) {

          let data = $("#credentialsForm").serializeArray();

          data.push({name: "selectedCategories", value: JSON.stringify(selectedCategories)});

          $.ajax({
            type: "POST",
            url: "{% url 'credentials' %}",
            data: data,
            success: (response) => {
              console.log("Login Results");
              console.log(response);
              if(response.result == "success") {
                //window.location = "{% url 'home' %}";
                 if (response.redirect_to){
                    window.location = response.redirect_to;
                 }else{
                    window.location = "{% url 'home' %}";
                 }
                 
              } else {
                if(response['userExists'] !== undefined && response.userExists) {
                  alert("Email is already registered!")
                } else {
                  alert("Invalid credentials!");
                }
              }
            },
            error: (xhr, errmsg, err) => {
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
          });
        } else {
          alert("Password mismatch!");
        }
      });

      function setCategoryIconBackground(categoryID, color) {
        $('[name="category_' + categoryID + '"] > div:nth-child(2)').css("background", "" + color + "");
      }

      function onCategorySelected(categoryBtn) {
        const id = $(categoryBtn).attr("name").substr($(categoryBtn).attr("name").indexOf("_") + 1);
        if($(categoryBtn).children("span").css("display") == "flex") {
          delete selectedCategories[id];
          $(categoryBtn).children("span").hide();
        } else {
          selectedCategories[id] = "categoryID";
          $(categoryBtn).children("span").css("display", "flex");
        }
      }

      $("#forgotPasswordForm").on("submit", (e) => {
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "{% url 'credentials' %}",
          data: $("#forgotPasswordForm").serializeArray(),
          success: (response) => {
            if (response.result != "success") {
              alert("Invalid credentials!");
            }
            $("#forgotPasswordModal").hide();
          },
          error: (xhr, errmsg, err) => {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          },
        });
      });
    </script>
  </body>
</html>
